<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>winter01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {431, 432}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{431, 432}</string>
			<key>spriteSourceSize</key>
			<string>{431, 432}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 2129}, {431, 432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {566, 399}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{566, 399}</string>
			<key>spriteSourceSize</key>
			<string>{566, 399}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2074}, {566, 399}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {319, 541}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{319, 541}</string>
			<key>spriteSourceSize</key>
			<string>{319, 541}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1659, 0}, {319, 541}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {496, 401}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{496, 401}</string>
			<key>spriteSourceSize</key>
			<string>{496, 401}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1229, 2008}, {496, 401}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {526, 649}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{526, 649}</string>
			<key>spriteSourceSize</key>
			<string>{526, 649}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 1478}, {526, 649}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {539, 679}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{539, 679}</string>
			<key>spriteSourceSize</key>
			<string>{539, 679}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1404, 1327}, {539, 679}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {709, 638}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{709, 638}</string>
			<key>spriteSourceSize</key>
			<string>{709, 638}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 818}, {709, 638}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {741, 816}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{741, 816}</string>
			<key>spriteSourceSize</key>
			<string>{741, 816}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {741, 816}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {860, 565}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{860, 565}</string>
			<key>spriteSourceSize</key>
			<string>{860, 565}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1001, 2411}, {860, 565}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {595, 309}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{595, 309}</string>
			<key>spriteSourceSize</key>
			<string>{595, 309}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2563}, {595, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {617, 663}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{617, 663}</string>
			<key>spriteSourceSize</key>
			<string>{617, 663}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1404, 662}, {617, 663}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {659, 814}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{659, 814}</string>
			<key>spriteSourceSize</key>
			<string>{659, 814}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 662}, {659, 814}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {914, 660}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{914, 660}</string>
			<key>spriteSourceSize</key>
			<string>{914, 660}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 0}, {914, 660}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winter14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {699, 614}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{699, 614}</string>
			<key>spriteSourceSize</key>
			<string>{699, 614}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1458}, {699, 614}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 4096}</string>
		<key>name</key>
		<string>FreezeScreen-hd</string>
		<key>textureFileName</key>
		<string>Freezescreen-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>