<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>unit-1-nature-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 68}</string>
			<key>spriteSourceSize</key>
			<string>{53, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 1761}, {53, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-1-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 34}</string>
			<key>spriteSourceSize</key>
			<string>{27, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 1036}, {27, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-1-nature-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 68}</string>
			<key>spriteSourceSize</key>
			<string>{53, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{61, 1831}, {53, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-1-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 34}</string>
			<key>spriteSourceSize</key>
			<string>{27, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 1072}, {27, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-1-ville-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 95}</string>
			<key>spriteSourceSize</key>
			<string>{85, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 1538}, {85, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-1-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 48}</string>
			<key>spriteSourceSize</key>
			<string>{43, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 112}, {43, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-1-ville-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 95}</string>
			<key>spriteSourceSize</key>
			<string>{85, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{263, 1538}, {85, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-1-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 48}</string>
			<key>spriteSourceSize</key>
			<string>{43, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 162}, {43, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-nature-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 95}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1745}, {59, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 48}</string>
			<key>spriteSourceSize</key>
			<string>{30, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 986}, {30, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-nb-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 95}</string>
			<key>spriteSourceSize</key>
			<string>{59, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1648}, {59, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-nb-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 48}</string>
			<key>spriteSourceSize</key>
			<string>{30, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 936}, {30, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-ville-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 108}</string>
			<key>spriteSourceSize</key>
			<string>{86, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 1538}, {86, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 54}</string>
			<key>spriteSourceSize</key>
			<string>{43, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 0}, {43, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-ville-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 108}</string>
			<key>spriteSourceSize</key>
			<string>{86, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1538}, {86, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-2-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 54}</string>
			<key>spriteSourceSize</key>
			<string>{43, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 56}, {43, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-nature-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 109}</string>
			<key>spriteSourceSize</key>
			<string>{73, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 1540}, {73, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 55}</string>
			<key>spriteSourceSize</key>
			<string>{37, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 706}, {37, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-nature-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 109}</string>
			<key>spriteSourceSize</key>
			<string>{73, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 1651}, {73, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 55}</string>
			<key>spriteSourceSize</key>
			<string>{37, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 763}, {37, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-ville-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 112}</string>
			<key>spriteSourceSize</key>
			<string>{84, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 1681}, {84, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 590}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-ville-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 112}</string>
			<key>spriteSourceSize</key>
			<string>{84, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 1635}, {84, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-3-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 532}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-nature-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 112}</string>
			<key>spriteSourceSize</key>
			<string>{68, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 1762}, {68, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 56}</string>
			<key>spriteSourceSize</key>
			<string>{34, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 878}, {34, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-nature-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 112}</string>
			<key>spriteSourceSize</key>
			<string>{68, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 1876}, {68, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 56}</string>
			<key>spriteSourceSize</key>
			<string>{34, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 820}, {34, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-ville-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 114}</string>
			<key>spriteSourceSize</key>
			<string>{83, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 1749}, {83, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 57}</string>
			<key>spriteSourceSize</key>
			<string>{42, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 356}, {42, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-ville-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 114}</string>
			<key>spriteSourceSize</key>
			<string>{83, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 1795}, {83, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-4-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 57}</string>
			<key>spriteSourceSize</key>
			<string>{42, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 415}, {42, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-nature-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 111}</string>
			<key>spriteSourceSize</key>
			<string>{83, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1911}, {83, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 648}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-nature-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 111}</string>
			<key>spriteSourceSize</key>
			<string>{83, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 1648}, {83, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 474}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-ville-color-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 139}</string>
			<key>spriteSourceSize</key>
			<string>{84, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 1635}, {84, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 70}</string>
			<key>spriteSourceSize</key>
			<string>{42, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 284}, {42, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-ville-nb-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 139}</string>
			<key>spriteSourceSize</key>
			<string>{84, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 1540}, {84, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unit-5-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 70}</string>
			<key>spriteSourceSize</key>
			<string>{42, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 212}, {42, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zone-nature-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {183, 1536}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{183, 1536}</string>
			<key>spriteSourceSize</key>
			<string>{183, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 0}, {183, 1536}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zone-nature.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 768}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 768}</string>
			<key>spriteSourceSize</key>
			<string>{92, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 770}, {92, 768}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zone-ville-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {183, 1536}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{183, 1536}</string>
			<key>spriteSourceSize</key>
			<string>{183, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {183, 1536}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zone-ville.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 768}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 768}</string>
			<key>spriteSourceSize</key>
			<string>{92, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 0}, {92, 768}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 2048}</string>
		<key>name</key>
		<string>Optimum</string>
		<key>textureFileName</key>
		<string>Optimum_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>