<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>unit-1-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 34}</string>
			<key>spriteSourceSize</key>
			<string>{27, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{89, 990}, {27, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-1-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 34}</string>
			<key>spriteSourceSize</key>
			<string>{27, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 990}, {27, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-1-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 48}</string>
			<key>spriteSourceSize</key>
			<string>{43, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{89, 940}, {43, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-1-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 48}</string>
			<key>spriteSourceSize</key>
			<string>{43, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 973}, {43, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-2-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 48}</string>
			<key>spriteSourceSize</key>
			<string>{30, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 116}, {30, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-2-nb-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 48}</string>
			<key>spriteSourceSize</key>
			<string>{30, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 166}, {30, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-2-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 54}</string>
			<key>spriteSourceSize</key>
			<string>{43, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 828}, {43, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-2-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 54}</string>
			<key>spriteSourceSize</key>
			<string>{43, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 884}, {43, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-3-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 55}</string>
			<key>spriteSourceSize</key>
			<string>{37, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 827}, {37, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-3-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 55}</string>
			<key>spriteSourceSize</key>
			<string>{37, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 770}, {37, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-3-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 829}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-3-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 887}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-4-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 56}</string>
			<key>spriteSourceSize</key>
			<string>{34, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 58}, {34, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-4-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 56}</string>
			<key>spriteSourceSize</key>
			<string>{34, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 0}, {34, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-4-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 57}</string>
			<key>spriteSourceSize</key>
			<string>{42, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 914}, {42, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-4-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 57}</string>
			<key>spriteSourceSize</key>
			<string>{42, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 770}, {42, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-5-nature-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 770}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-5-nature-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 56}</string>
			<key>spriteSourceSize</key>
			<string>{42, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{45, 945}, {42, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-5-ville-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 70}</string>
			<key>spriteSourceSize</key>
			<string>{42, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 770}, {42, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>unit-5-ville-nb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 70}</string>
			<key>spriteSourceSize</key>
			<string>{42, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 842}, {42, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zone-nature.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 768}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 768}</string>
			<key>spriteSourceSize</key>
			<string>{92, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {92, 768}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zone-ville.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 768}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 768}</string>
			<key>spriteSourceSize</key>
			<string>{92, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 0}, {92, 768}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 1024}</string>
		<key>name</key>
		<string>Optimum</string>
		<key>textureFileName</key>
		<string>sprites-interface.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
